@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f9fafb;
  --foreground: #1f2937;
  --chart-green: #609e50;
  --chart-red: #c74e41;
}

html.dark {
  --background: #1c1b22;
  --foreground: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-track {
  margin: 10px 0;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}