:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ratio {
  display: flex;
  gap: 4px;
}

.redDot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.greenDot {
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  width: 500px;
  height: 500px;
}

.graph {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.redBar {
  width: 25%;
  border: solid 1px red;
}

.greenBar {
  width: 25%;
  border: solid 1px green;
}
